@import
url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap'); 
 
*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
/*    text-rendering: optimizeLegibility;*/
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
    color: white;
    background-color: #152733;
/*    For hiding scroller*/
    overflow: hidden;
}

/*.container h1 {
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}*/

/*    Table Right side coulmn  */
.form-items   {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px;
}

/*    Hides Table column lines 
*/.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
/*      Table alignment*/
      min-height: 40vh;
      min-width: 540px;
}/*

/*Aligns in the middle table*/
/*.form-items {
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}*/

a:not([href]) {
  /* style a "disabled" link */
}

.btn-primary {

}

.btn {

}

.links {
    color: white;

}
