@import
url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap'); 
 
*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
/*    text-rendering: optimizeLegibility;*/
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
    color: white;
    background-color: #152733;
/*    For hiding scroller*/
    overflow: hidden;
}

.button4 {
    border: solid 2px rgb(85, 209, 182);
}

.button4:hover {
    transition: ease-in 0.7s;
    box-shadow: inset 300px 0 0 0 rgb(205, 169, 50);
    cursor: pointer;
    color: rgb(11, 11, 15);
}

.button4  {
    border: 2px solid aqua;
}

.button4:hover {
    cursor: pointer;
    background: transparent;
    color: aqua;
    
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}

/*div {
  align-content: center;
  background-color: lightgrey;
  width: 300px;
  border: 10px white;
  padding: 50px;
  margin: 20px;
}*/

/*.container h1 {
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}*/

/*    Table Right side coulmn  */
.form-items   {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px;
}



/*    Hides Table column lines 
.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      Table alignment
      min-height: 40vh;
      min-width: 540px;
}

/*Aligns in the middle table*/
/*.form-items {
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}*/

a:not([href]) {
  /* style a "disabled" link */
}

.btn-primary {

}

.btn {

}

.links {
    color: white;

}
